.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Nav section */
.navbar{
  margin-bottom: 30px;
}

.nav-item{
  color: white;
  font-size: 17px;
}
.footer{
  margin-top: auto;
}
/* Header section */
#header{
  background-image: url(./assets/img/header-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
}
#header button{
  text-align: center;
  margin-top: 50px;
  width: 180px;
  border-style: none;
  height: 50px;
  background-color: #ffd139;
  font-size: 20px;
  color: white;
  border-radius: 3px;
}

#home-header{
  background-image: url(./assets/img/donate.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.home-filter{
  width: 80%;
  margin: 0px auto;
}
/* Donation request cards */
.card{
  margin: 10px;
  width: 31.5%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-items: left;
  align-content: left;
  align-items: left;
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
}
.card:hover{
  cursor: pointer;
  /* background-color: #39afee; */
}

.progress{
  margin-bottom: 5px;
}

#donate-btn {
  float: right;
}
/* landing page */
.landing-page{
  display: block;
}
.landing-page h1, h2, h3{
  padding-top: 30px;
  text-align: center;
}
.landing-page-cards{
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-page{
  background-image: url(./assets/img/bg2.jpg);
  background-size: cover;
}

.request-page{
  background-image: url(./assets/img/bg2.jpg);
}
.section-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section-container-card{
  width: 31.5%;
  margin: 10px;
  text-align: center;
}

/* Sign and login forms */ 
.signup-form{
  margin-top: 50px;
}

.open{
  width: 80px;
  color: white;
  background-color: #14c71d;
  border-radius: 10px;
  padding: 0 10px;
}
.closed{
  width: 90px;
  color: white;
  background-color: #ce2417;
  border-radius: 10px;
  padding: 0 10px;
}

.approve-btn{
  width: 30%;
  border-radius: 10px;
  background-color: #14c71d;
  color: white;
}

.reject-btn{
  width: 30%;
  float: right;
  border-radius: 10px;
  background-color: #ce2417;
  color: white;
}
.pagination{
  width: 100px;
  margin: 5px auto;
}
/* MOBILE VIEW */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .landing-page-cards{
    width: 100%;
    display: flex;
  }
  
  .card{
    width: 100%;
    margin: 10px;
  }

  .section-container-card{
    width: 100%;
    margin: 10px;
    text-align: center;
  }
  .home-filter{
    width: 100%;
  }
  
}


