.dashboard-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.dashboard-nav{
    float: left;
    width: 20%;
    background-color: #060b26;
}
.dashboard-container{
    float: right;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
    
}
.admin-dashboard-container{
    float: right;
    width: 80%;
}
#card{
    width: 20%;
    margin: 10px;
  }

@media only screen and (max-width: 600px) {
   .dashboard-main{
       width: 100%;
   }
   .dashboard-nav{
    width: 100%;
    
}
.dashboard-container{   
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
   
#card{
    width: 100%;
    margin: 10px;
  }

  }