

.table .cellWrapper {
    display: flex;
    align-items: center;
}
.table .cellWrapper .image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.table .status {
    padding: 5px;
    border-radius: 5px;
}
.table .status.approved {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}
.table .status.pending {
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
}
.table .status.rejected {
    color: red;
    background-color: rgba(145, 76, 76, 0.103);
}

.table .status.closed {
    color: rgb(255, 255, 255);
    background-color: rgba(216, 118, 123, 0.952);
}
.table .status.open {
    color: rgb(255, 255, 255);
    background-color: rgb(56, 192, 74);
}